*{
    background-image: url("/vbti/vbti_img/vbti_Mimg.png");
    margin: 0%;
}
@font-face {
    src: url(/font);
    font-family:"Gotham";
}
#VBTITEST{
    font-size: 150px;
    text-align: center;
    line-height: 550%;
    color: #3A552C;
    font-family:"Gotham";
}
/* #bg_img{
    width: 100vw;
    height: 100vw;
} */
button{
	width: 254px;
    height: 74px;
    font-family:"Gotham";
	color:#FFFFFF;
	background: #EEBB4D;
	font-size: 30px;
	border:none;
	border-radius: 100px;
	box-shadow: 0 4px 16px #eebb4d41;
	transition:0.3s;
	position: absolute;
	left:50%;
	top:70%;
	transform: translate(-50%,-50%);
}
button:focus {
	outline:0;
}
button:hover{
	background: #ffc853;
	cursor: pointer;
	box-shadow: 0 2px 4px #ffc853e7;
}