@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR&display=swap');

@font-face {
    src: url(/font);
    font-family:"Gotham";
 }
*{
    /* font-family:"Gotham"; */
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    /* font-family: 'Noto Sans KR', sans-serif; */

    /* color: #000; */
}

/* 배경 */
.intro_bg{

    background-image: url("./MyPage/image/main_intro_bg_final.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1726px;
}
/* .header{
    display: flex;
    width: 1280px;
    margin: auto;
    background: red;
} */
/* 제목 */
.intro_text  {
    position: absolute;
    width: 1202px;
    height: 336px;
    left: 359px;
    top: 340px;

    font-family: 'Montserrat', sans-serif;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 111.07%;
    /* or 222px */

    text-align: center;

    color: #FFFFFF;

}
/* .intro{
    font-family: "Gotham";
    color: blue;
} */
/* what we doing */
.info_text > h1 {
    position: absolute;
    width: 1136px;
    height: 185px;
    left: 344px;
    top: 1429px;

    font-family: 'Montserrat', sans-serif;
    /* font-family:"Gotham"; */
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 111px;

    color: #3A552C;

}
.info_text > .info_p1 {
    position: absolute;
    width: 1000px;
    height: 120px;
    left: 344px;
    top: 1686px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    /* or 150% */

    color: #6A9258;
    margin-bottom: 0px;
}
/* 중간중간 강조 */
.info_text .info_p1 > strong{
    color: #6A9258;
    font-weight: bold;
}
.info_text .info_p2{
    position: absolute;
    width: 710px;
    height: 100px;
    left: 344px;
    top: 1796px;

    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    font-size: 24px; 

    color: #191919;
    line-height: 160%;
    margin-top: 20px;

    font-family: 'Noto Sans KR', sans-serif;
}
/* 꽃과 구름 */
.cloud_flower .cloud{
    position: absolute;
    width: 725px;
    height: 333px;
    left: 1072px;
    top: 1304px;
}
.cloud_flower .flower{
    position: absolute;
    width: 556px;
    height: 556px;
    left: 1180px;
    top: 1475px;
}

/* coin_recommend */
.coin_recommend > h1{
    position: absolute;
    width: 342px;
    height: 70px;
    left: 765px;
    top: 2254px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;

    color: #6A9258;
}
.coin_recommend > p{
    position: absolute;
    width: 400px; 
    height: 29px;
    left: 812px;
    top: 2216px;
    margin-bottom: 9px;

    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    /* identical to box height */


    color: #EEBB4D;
}
.coin_item{
    width: 1194px;
    height: 382px;
    border: 1px solid khaki;
    position: absolute;
    width: 1194px;
    height: 382px;
    left: 363px;
    top: 2394px;
}
/* 요즘 핫한 채소 */
.vegetables{
    top: 3873px;
}
.vegetables > p{
    position: absolute;
    width: 166px;
    height: 29px;
    left: 879px;
    top: 3873px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;

    text-align: center;

    color: #EEBB4D;
}
.vegetables > h1{
    position: absolute;
    width: 287px;
    height: 70px;
    left: 817px;
    top: 3920px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */

    text-align: center;

    color: #6B8060;
}
/* 당근, 고추, 깻잎논쟁, 방울토마토 */
.icons{
    position: absolute;
    width: 1194px;
    height: 433px;
    left: 366px;
    top: 4078px;
    display: flex;
    /* background-color: orange; */
}
.icons > li{
    flex: 1;
    /* background-color: blue; */
    height: 433px;
}
.icons >li:not(:last-child){
    margin-right: 30px;
}
/* click버튼 */
.icon_click{
    position: absolute;
    width: 39px;
    height: 51.19px;
    margin-left: 212.5px;
    top: 29.81px;
    cursor: pointer;
}
/* 채소이름 */
.contents_name{
    position: absolute;
    width: 65px;
    height: 33px;
    margin-left: 181px;
    top: 372px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
/* view more버튼 */
.btn_viewmore{
    position: absolute;
    width: 234px;
    height: 68px;
    left: 846px;
    top: 4611px;

    background: #EEBB4D;
    box-shadow: 0px 4px 16px rgba(238, 187, 77, 0.3);
    border-radius: 100px;
    border: none;

    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    transition: 0.3s;    
}
a{
    text-decoration-line: none;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    /* text-decoration: underline; */
}
button:focus{
    outline: 0;
}
button:hover{
    background-color: rgba(238, 187, 77, 0.9);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(238, 187, 77, 0.6);
}
/* coin_ad */
.coin_ad{
    position: absolute;
    background-image: url("imgs/coin_banner.png");
    width: 100%;
    height: 600px;
    top: 3024px;
}
.ad_title{
    position: absolute;
    display: inline-block;
    width: 800px;
    height: 166px;
    left: 942px;
    top: 170px;
    /* margin-top:3380px; */
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    /* or 83px */


    color: #6A9258;
}
.coin_ad div:nth-child(2){
    position: absolute;
    width: 506px;
    height: 30px;
    left: 948px;
    top: 360px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    text-align: center;

    color: #6A9258;
}
.ad_btn{
    position: absolute;
    width: 236px;
    height: 56px;
    left: 942px;
    top: 434px;

    background: #6A9258;
    border: 0px;
    color:#fff;
    box-shadow: 0px 4px 4px rgba(106, 146, 88, 0.2);
    border-radius: 100px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
}
.title_bold{
    /* font-style: bold; */
    width: auto;
    display: inline;
    font-weight: bolder;
}
/* recipes */
.recipes{
    position: absolute;
    width: 1194px;
    height: 707px;
    /* left: 365px; */
    top: 5747px;
    margin-top: 50px;

}
.recipes > p{
    position: absolute;
    width: 117px;
    height: 29px;
    left: 902px;
    /* top: 4958px; */

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;

    color: #EEBB4D;
}
.recipes > h1{
    position: absolute;
    width: 350px;
    height: 58px;
    left: 782px;
    /* top: 4008px; */

    margin-top: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px; /*바꿔야함 48*/
    line-height: 58px;

    color: #6A9258;
}
/* 민정이 recipe css코드 */
.ctg-btn{/* 카태고리 선택 박스 */
    position: absolute;
    left: 679px;
    /* top: 4136px; */
    width: 800px;
    margin-top: 177px;
}

.btn{/* 카테고리 선택 버튼 */
    display: inline-block;
    margin-right: 74px;
    cursor: pointer;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E0E4E1;
    border: 0px;
    background-color: white;
}
.btn:hover{
    color: #EEBB4D;
}

.sort{
    margin-left: 1470px;
    margin-bottom: 30px;
    width: 50px;
    height: 23px;
}

form > select{
    border: 0px;
    outline: none;

}

form > select:hover{
    border: 0px;
}

.img{
    width: 378px;
    height: 431px;
    /* border-radius: 10px; */
    /* margin-right: 30px; */
    /* margin-bottom: 20px; */
}
.categories{
    display: inline-block;
    height: 60px;
}
.number{
    text-align: left;
}
.f-td{
    width: 30px;
}
.name-td{
    width:150px;
}
/* 민정css를 바꿈 */
.box{
    position: absolute;
    width: 1194px;
    height: 431px;
    left: 363px;
    /* top: 4245px; */
    margin-top: 276px;
    display: flex;
    /* font-family: 'Noto Sans KR', sans-serif; */

    /* background-color: blue; */
}
.box > li{
    flex: 1;
    height: 431px;
    border-radius: 10px;
    /* background-color: orange; */
    /* 그림자 효과 */
    box-shadow: 0px 4px 16px rgba(171, 171, 171, 0.3);
}
.box > li:not(:last-child){
    margin-right: 30px;
}
.box .box_name{
    position: absolute;
    width: 200px;
    height: 29px;
    margin-left: 20px;
    top: 352px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #191919;
}
.box .box_theme{
    position: absolute;
    width: 120px;
    height: 24px;
    margin-left: 20px;
    top: 387px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #ABABAB;
}
.box .img{
    position: absolute;
}
/* vbti */
.vbti{
    position: absolute;
    width: 1426px;
    height: 568px;
    left: 364px;
    top: 4929px;
}
.vbti > h1{
    position: absolute;
    width: 394px;
    height: 155px;
    left: 782px;
    top: 129px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px; /*바꿔야함 48*/
    line-height: 80px;

    color: #3A552C;
}