/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');
@font-face {
    src: url(../../font);
    font-family:"Gotham";
    
  }
*{
    margin:0;
    padding:0;
}

.category-text{ /* Recipe */
    margin-left:363px;
    margin-bottom: 60px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #6A9258;
    /* background-color: #EEBB4D; */
}

.ctg-btn{/* 카태고리 선택 박스 */
    margin-left: 677px;
}

.btn{/* 카테고리 선택 버튼 */
    display: inline-block;
    margin-right: 84px;
    cursor: pointer;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E0E4E1;
    border: 0px;
    background-color: white;
}
.btn:hover{
    color: #EEBB4D;
}

.sort{
    margin-left: 1495px;
    margin-bottom: 10px;
    margin-top: 70px;
    width: 50px;
    height: 23px;
    font-size: 24px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    
}

form > select{
    border: 0px;
    outline: none;

}

form > select:hover{
    border: 0px;
}

/* 카테고리 박스 */
.category_box > .category_items > li{
    list-style: none;
}
.recipe_img{
    border-radius: 10px;
}
.category_box{
    /* display: flex; */
    margin-left: 363px;
    margin-top: 30px;
    width: 1250px;
    height: 1746px;
    /* border: 1px solid darkcyan; */
    
}
.category_items{
    width: 378px;
    height: 517px;
    /* display: flex; */
    float: left;
    margin-right: 30px;
    /* border: 1px solid palevioletred; */
    
}

.recipe_name{
    position: absolute;
    margin-top: 20px;
    display: inline-block;
    width: 310px;
    font-size: 24px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    /* border: 1px solid khaki; */
}
.recipe_favorite{
    display: flex;
    position:absolute;
    margin-top: 30px;
    margin-left: 320px;
    /* border: 1px solid navy; */

}

.recipe_favorite_num{
    display: flex;
    position:absolute;
    margin-top: 25px;
    margin-left: 345px;
    /* border: 1px solid rosybrown; */
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight:500;
    font-size: 20px;
    line-height: 29px;
    color: #191919;
}


.recipe_theme{
    display: inline-block;
    margin-top: 60px;
    width: 310px;
    /* border: 1px solid chocolate; */
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #ABABAB;
}