*{
    margin:0;
    padding:0;
}
table{
    margin:0;
    margin-left: 363px;
    table-layout: fixed;
    /* border: 1px solid black; */
    
}
td{
    margin:0;
    padding:0;
    width:30px;
    /* border: 1px solid black; */
}

.category-text{ /* Recipe */
    margin-left:363px;
    margin-bottom: 60px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #6A9258;
    /* background-color: #EEBB4D; */
}

.ctg-btn{/* 카태고리 선택 박스 */
    margin-left: 677px;
}

.btn{/* 카테고리 선택 버튼 */
    display: inline-block;
    margin-right: 84px;
    cursor: pointer;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E0E4E1;
    border: 0px;
    background-color: white;
}
.btn:hover{
    color: #EEBB4D;
}

.sort{
    margin-left: 1470px;
    margin-bottom: 30px;
    width: 50px;
    height: 23px;
}

form > select{
    border: 0px;
    outline: none;

}

form > select:hover{
    border: 0px;
}

.food-img{
    width:378px;
    height:378px;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.categories{
    display: inline-block;
    height: 60px;
}
.favorite{
    float: right;
    /* position:absolute; */
    /* width: 30px; */
    
}

.number{
    text-align: left;
}
.f-td{
    width: 30px;
}
.name-td{
    width:150px;
}
