*{
    margin:0;
    padding:0;
}

.category-text{ /* Recipe */
    margin-left:363px;
    margin-bottom: 60px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #6A9258;
    /* background-color: #EEBB4D; */
}

.ctg-btn{/* 카태고리 선택 박스 */
    margin-left: 677px;
}

.btn{/* 카테고리 선택 버튼 */
    display: inline-block;
    margin-right: 84px;
    cursor: pointer;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E0E4E1;
    border: 0px;
    background-color: white;
}
.btn:hover{
    color: #EEBB4D;
}

.sort{
    margin-left: 1470px;
    margin-bottom: 30px;
    width: 50px;
    height: 23px;
}

form > select{
    border: 0px;
    outline: none;

}

form > select:hover{
    border: 0px;
}

/* 선우 카테고리 css */

.box{
    position: absolute;
    width: 1194px;
    height: 431px; 
    margin-left: 363px;
    /* top: 4245px; */
    display: flex;
    /* background-color: blue; */
}
.box > li{
    flex: 1;
    height: 431px;
    border-radius: 10px;
    list-style: none;
    /* background-color: orange; */
}

/* .box > li:not(:last-child){
    margin-right: 30px;
} */
.box .box_name{
    position: absolute;
    width: 200px;
    height: 29px;
    /* margin-left: 20px; */
    top: 400px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #191919;
}
.box .box_theme{
    position: absolute;
    width: 120px;
    height: 24px;
    /* margin-left: 20px; */
    top: 430px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #ABABAB;
}
.box .img{
    position: absolute;
}
.box .favorite{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 315px;
    top: 405px;
}
.box .number{  
    position: absolute;
    width: 33px;
    height: 24px;
    margin-left: 343px;
    top: 400px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #191919;
}
