/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

.introduction{
    /* border: 1px solid black; */
    display: flex;
}
/* li{
    list-style: none;
} */
/* 인트로 사진 */
.intro_img{
    display: flex;
    margin-left: 363px;
    width: 582px;
    height: 582px;
    border-radius: 50px 0px 50px 0px;
}


/* 소개 박스 */
.intro_content{
    display:inline-flex;
    position: relative;
    float: left;
    margin-left: 132px;
    width: 480px;
    height: 304px;
    /* border: 1px solid sandybrown; */
}

/* 레시피 이름 */
.recipe_name{
    display: inline-block;
    /* border: 1px solid blueviolet; */
    width: 400px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    color: #000000;

}
/* 좋아요 사진 */
.intro_favorite{
    position: absolute;
    top:20px;
    right: 60px;
    /* border: 2px solid rgb(31, 201, 59); */
}
/* 좋아요 수 */
.favorite_num{
    position: absolute;
    top : 12px;
    right: 5px;
    width: 42px;
    /* border: 2px solid rgb(31, 201, 59); */
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}
/* 레시피 설명 */
.recipe_explanation{
    width: 480px;
    bottom: 90px;
    position:absolute;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    
}



/* 레시피 정보 상자 */
.recipe_info{
    width: 480px;
    height: 304px;
    position: absolute;
    margin-top: 305px;
    margin-left: 1078px;
    /* border: 1px solid hotpink; */
}
/* 주재료 상자 */
.main_material_box{
    position:absolute;
    margin-top: 20px;
    /* border: 1px solid darkorchid; */
}
/* 소요시간 상자 */
.time_box{
    margin-top: 20px;
    margin-left: 260px;
}
/* 양 상자 */
.amount_box{
    margin-top: 50px;
}
/* 정보 이미지 */
.info_img{
    margin-bottom: 20px;
}
/* 정보 제목 */
.info_title{
    /* border: 1px solid black; */
    margin-bottom: 6px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
/* 정보 내용 */
.info_name{
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #767676;
}
/* 가로선 */
.width_line{
    position:absolute;
    width: 480px;
    height: 1px;
    bottom: 152px;
    background-color:  #DBDBDB;
}
/* 세로선 */
.vertical_line{
    position: absolute;
    right: 240px;
    width: 1px;
    height: 304px;
    background-color:  #DBDBDB;
}





/* 필요한 재료 상세 */
.material_box{
    width: 1494px;
}
.way{
    width: 1494px;
}
/* 재료 텍스트 */
.material_title{
    margin-left: 363px;
    margin-bottom: 60px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #6A9258;
}
.material_ul{
    margin-left: 363px;
    margin-bottom: 36px;
}
.material_ul > li{
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}




/* 요리 방법 */
.way_title{
    margin-left: 363px;
    margin-bottom: 60px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #6A9258;
}
.way_ul{
    list-style-type: decimal;
}
.way_ul > li{
    margin-left: 385px;
    margin-bottom: 36px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
}





/* 키우러가기 */
.raise_title{
    margin-left: 363px;
    margin-bottom: 2px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #6A9258;
}
/* 더보기 버튼 */
.seemore_box{
    margin-left: 1473px;
}
.seemore_btn1{
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
    border: 0px;
    cursor: pointer;
    background-color: white;
}
.seemore_btn2{
    cursor: pointer;
    border: 0px;
    position:absolute;
    margin-top:2px;
    background-color: white;
}

/* 키우러가기 상자 */
.raise_box{
    margin-left: 363px;
    margin-top: 30px;
}
.raise_items{
    list-style: none;
    float: left;
    
    margin-right: 30px;
}
.raise_name{
    margin-top: 20px;
    text-align: center;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;

    color: #191919;
}