@font-face {
  src: url(../../font);
  font-family:"Gotham";
  
}
.popluar-box{
  width: 1920px;
  height: 120px;
  display: inline-block;
  position:absolute;
}
.popular-title{
  top:10px;
  left: 363px;
  
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  position:absolute;
  color: #6A9258;
}
.for_slick_slider{
  display: flex;
  /* width:1920px; */
  height : 500px;
}
.for_slick_slider .popluar-items{
  width : 276px;
  height: 276px;
  margin : 100px;
  
}

.for_slick_slider .popluar-items .popluar-img{
  width : 278px;
  height: 280px;
}
.for_slick_slider .slick-center .popluar-img{
  transform : scale(1.2);
}
