@font-face {
  src: url(../../font/English);
  font-family:"Gotham";
  
}
.popluar-box{
  width: 1920px;
  height: 120px;
  display: inline-block;
  position:absolute;
}
.popular-title{
  top:10px;
  left: 363px;
  
  font-family: "Pretendard";
  font-size: 26px;
  font-style: normal;
  position:absolute;
  color: #6A9258;
}
.for_slick_slider{
  display: flex;
  /* width:1920px; */
  height : 500px;
}
.for_slick_slider .popluar-items{
  /* width : 276px; */
  height: 276px;
  margin : 130px;
  
}

.for_slick_slider .popluar-items .popluar-img{
  width : 276px;
  height: 276px;
}
.for_slick_slider .slick-center .popluar-img{
  transform : scale(1.2);
}
.popular-text{
  text-align: center;
  /* vertical-align: middle; */
  margin-top: 35px;
  position: relative;
  color: #191919;
  font-family:"Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}