@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

@font-face {
  src: url(../../font);
  font-family:"Gotham";
  
}
/* 타이틀 박스 */
.popluar-box{
  width: 1920px;
  height: 50px;
  display: inline-block;
  position:absolute;
  /* background-color: #b5c4ae; */
}
/* Popular */
.popular-title{
  margin-left: 363px;
  margin-top: 5px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  position:absolute;
  color: #6A9258;
}
/* 전체 슬라이더 박스 */
.for_slick_slider{
  display: flex;
  /* width:1920px; */
  margin-top: 50px;

}
/* 아이템 요소 */
.for_slick_slider .popluar-items{
  width: 276px;
  height: 276px;
  margin : 100px;
  background-color: rgb(116, 172, 221);
  
}

/* 이미지 */
.for_slick_slider .popluar-items .popluar-img{
  width: 276px;
  height: 276px;
  border-radius: 30px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1) ;
  
}

/* 센터 박스 크기 */
.for_slick_slider .slick-center .popluar-img{
  transform: scale(1.3);
  z-index: 1;
}
/* 센터 텍스트 크기 */
.for_slick_slider .slick-center .opacity_box{
  position: absolute;
  margin-top: 260px;
  transform : scale(1.3);
  z-index: 2;
}

/* 사진 위 투명 상자 */
.opacity_box{
  position: absolute;
  margin-top: 226px;
  width: 276px;
  height: 50px;
  border-radius: 0 0 30px 30px;
  background: rgba(255, 255, 255, 0.6);

  
}

/* 투명상자 안 텍스트 */
.opacity_box_text{
  margin-top: 8px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
  text-align: center;
  color: #191919;
}
