

/* .main-item{
    border: 2px solid blue;
} */
.wrapper { 
    display: grid;
    grid-template-rows: 338px 800px 500px 2500px 810px;
    grid-template-columns: 1920px;
    height : 100vh;  
    
    /* align-items: center; */
    /* justify-content: center; */
}
