@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR&display=swap');
.wrap{
  position: absolute;
  width: 1920px;
  height: 100%;
  /* top: 95px; */
}
.header{
    position :absolute;
    width: calc(100%);
    margin: auto;
    /* background: rgb(212, 212, 212); */
    height: 80px;
    padding-top: 30px;
    /* left: 384px; */
    /* float: right; */
}
.header_logo{
    position: absolute;
    width: 118px;
    height: 80px;
    /* background: green; */
    border-radius: 5px;
    padding-top: 15px;
    display: flex;
    margin-left: 384px;
    /* z-index: -1;
    position: relative; */
}

.intro_bg .nav {
    margin-left:800px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 10em;
    display: -webkit-box;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .intro_bg .nav li {
    margin-right: 30px;
  }
  .intro_bg .nav li a {
    position: relative;
    padding: 0.6em 1em;
    font-size: 20px;
    line-height: 29px;
    border: none;
    outline: none;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-top: 0px;
    z-index: 3;
  }
  .intro_bg .nav .slide1,
  .intro_bg .nav .slide2 {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .intro_bg .nav .slide1 {
    /* background-color: rgba(255, 255, 255,0.2); */
    z-index: 0;
  }
  .intro_bg .nav .slide2 {
    opacity: 0;
    background: rgba(255, 255, 255,0.2);
    z-index: 1;
  }
  .intro_bg .nav .squeeze {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  .header > .sub-menu-bg > div > div{
    position:absolute;
    top:0;
    /* left:10px; */
    width:calc(100%);
    height:700px;
    background-color: rgb(255, 255, 255);
    background-repeat:no-repeat;
    background-position:center;
    transform:translateY(-100%);
    transition:transform 0.3s;
  } 
  .header > .sub-menu-bg > div > div::after {
    left:auto;
    right:-10px;
    transform:rotateY(180deg);
  }
  .header:hover > .sub-menu-bg > div > div {
    transform:translateY(0);
  }
  .header:hover > .nav li a{
      color: rgba(106, 146, 88, 1);
  }
  .header:hover >.nav .slide2{
    background: rgba(106, 146, 88, 0.1);;
  }
  .header:hover{
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100; 
    transition:transform 0.5s;
    /* transform: scale(1.1);  */
    /* transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;  */
  }
  .sub-menu-bg .header_logo{
    position: absolute;
    width: 118px;
    height: 31px;
    /* background: green; */
    border-radius: 5px;
    padding-top: 45px;
    /* left: 384px; */
    /* display: flex; */
  }
  
  .sub-menu-bg .search .line{
    position: absolute;
    width: 1194px;
    height:0px;
    left: 363px;
    top: 364px;
    border: 1px solid #6A9258;
  }
  .sub-menu-bg .search .input >input{
    position: absolute;
    width: 500px;
    height: 43px;
    left: 373px;
    top: 307px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;

    outline: 0;
    border: 0;
    background-color: transparent;
  }
  .sub-menu-bg .search .search_btn{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1507px;
    top: 304px;
  }
  .sub-menu-bg .search ::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    /* text-align: center; */
    
    color: #AAAAAA;
    
  }