*{
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    margin: 0px;
    padding: 0px;
    color: black;
}
.intro_bg{
    background-image: url("../../MyPage/image/main.jpg");
    width: 100%;
    height: 1726px;
}
.header{
    display: flex;
    width: 1194px;
    margin: auto;
    /* background: red; */
    height: 222px;
}
.header_logo{
    width: 118px;
    height: 31px;
    margin-top: 96px;
    /* background: green; */
    border-radius: 5px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    /* line-height: 86px; */
    width: calc(1194px - 118px);
    /* background: blue; */
}
.nav > li{
    margin-left: 58px;
    margin-top: 96px;
}
.nav > li > a{
    color: white;
    size: 20px;
}
