@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR&display=swap');
.wrap{
  position: absolute;
  width: 1920px;
  height: 100%;
  /* top: 95px; */
}
.header{
    position :absolute;
    width: 1250px;
    margin: auto;
    /* background: rgb(212, 212, 212); */
    height: 80px;
    top: 80px;
    left: 384px;
}
.header_logo{
    position: absolute;
    width: 118px;
    height: 80px;
    /* background: green; */
    border-radius: 5px;
    padding-top: 15px;
    /* z-index: -1;
    position: relative; */
}

.nav {
    margin-left:408px;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 10em;
    display: -webkit-box;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .nav li {
    margin-right: 30px;
  }
  .nav li a {
    position: relative;
    padding: 0.6em 1em;
    font-size: 20px;
    line-height: 29px;
    border: none;
    outline: none;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-top: 0px;
    z-index: 3;
  }
  .nav .slide1,
  .nav .slide2 {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  }
  .nav .slide1 {
    /* background-color: rgba(255, 255, 255,0.2); */
    z-index: 0;
  }
  .nav .slide2 {
    opacity: 0;
    background: rgba(255, 255, 255,0.2);
    z-index: 1;
  }
  .nav .squeeze {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    /* background-color: #e0e0e0; */
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
  }