body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.body{
    height: 145px;
    text-align: center;
    background-image: url("../image/main.jpg");
    width: 100%;
    height: 100%;
    /* border-bottom: 1px solid #999; */
}
.header_logo img{
    position: absolute;
    width: 118px;
    height: 31px;
    left: 363px;
    top: 96px;
}
/* .header_menu .header_menu{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 953px;
    top: 100px;
    margin-top: 40px;
} */
/* 메뉴 css가 안먹어서 하나하나 만듦 */
.header_menu #home{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 920px;
    top: 100px;
}
.header_menu #raise{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 1029px;
    top: 100px;
}
.header_menu #recipe{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 1156px;
    top: 100px;
}
.header_menu #vbti{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 1257px;
    top: 100px;
}
.header_menu #mypage{
    position: absolute;
    width: 604px;
    height: 24px;
    left: 1380px;
    top: 100px;
}
.header_menu li{
    display: inline-block;
}
.header_menu.text{
    left: 953px;
    top: 100px;
}
.header_menu ul li a{
    display:block;
    font:bold 14px 'arial';
    color: #999;
    margin: 0px 16px;
}
.header image{
    position:relative;
}