nav ul {
    margin: auto;
    padding: auto;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    display: block;
    width: auto;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul ul {
    display: none;
    position: absolute;
    width: 200px;
}

nav ul li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li:hover ul li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}