*{
    font-family:"Gotham";
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
@font-face {
    src: url(../../font/);
    font-family:"Gotham";
}
/* 배경 */
.intro_bg{
    background-image: url("../image/intro_bg.png");
    width: 100%;
    height: 1726px;
}
/* .header{
    display: flex;
    width: 1280px;
    margin: auto;
    background: red;
} */
/* 제목 */
.intro_text > p {
    position: absolute;
    width: 1202px;
    height: 336px;
    left: 359px;
    top: 414px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 111.07%;
    /* or 222px */

    text-align: center;

    color: #FFFFFF;

}
/* what we doing */
.info_text > h1 {
    position: absolute;
    width: 1136px;
    height: 185px;
    left: 363px;
    top: 1429px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: 900px;
    font-size: 100px;
    line-height: 111px;

    color: #3A552C;

}
.info_text > .info_p1 {
    position: absolute;
    width: 1000px;
    height: 120px;
    left: 344px;
    top: 1686px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* or 150% */

    color: #6A9258;
    margin-bottom: 0px;
}
/* 중간중간 강조 */
.info_text .info_p1 > strong{
    color: #6A9258;
}
.info_text .info_p2{
    position: absolute;
    width: 710px;
    height: 100px;
    left: 344px;
    top: 1796px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
    font-size: 21px; /*바꿔야함 24*/

    color: #191919;
    line-height: 160%;
    margin-top: 20px;
}
/* 꽃과 구름 */
.cloud_flower .cloud{
    position: absolute;
    width: 725px;
    height: 333px;
    left: 1072px;
    top: 1304px;
}
.cloud_flower .flower{
    position: absolute;
    width: 556px;
    height: 556px;
    left: 1180px;
    top: 1475px;
}
/* 요즘 핫한 채소 */
.vegetables > p{
    position: absolute;
    width: 166px;
    height: 29px;
    left: 879px;
    top: 2311px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;

    text-align: center;

    color: #EEBB4D;
}
.vegetables > h1{
    position: absolute;
    width: 350px;
    height: 58px;
    left: 796px;
    top: 2350px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;

    text-align: center;

    color: #6B8060;
}
/* 당근, 고추, 깻잎논쟁, 방울토마토 */
.icons{
    position: absolute;
    width: 1194px;
    height: 433px;
    left: 366px;
    top: 2508px;
    display: flex;
    /* background-color: orange; */
}
.icons > li{
    flex: 1;
    /* background-color: blue; */
    height: 433px;
}
.icons >li:not(:last-child){
    margin-right: 30px;
}
/* click버튼 */
.icon_click{
    position: absolute;
    width: 39px;
    height: 51.19px;
    margin-left: 212.5px;
    top: 29.81px;
}
/* 채소이름 */
.contents_name{
    position: absolute;
    width: 65px;
    height: 33px;
    margin-left: 181px;
    top: 372px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
/* view more버튼 */
.btn_viewmore{
    position: absolute;
    width: 234px;
    height: 68px;
    left: 846px;
    top: 3041px;

    background: #EEBB4D;
    box-shadow: 0px 4px 16px rgba(238, 187, 77, 0.3);
    border-radius: 100px;
    border: none;

    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;

    transition: 0.3s;
}
button:focus{
    outline: 0;
}
button:hover{
    background-color: rgba(238, 187, 77, 0.9);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(238, 187, 77, 0.6);
}
/* award */
.awards{
    position: absolute;
    background-image: url("../image/award_bg.png");
    width: 100%;
    height: 600px;
    top: 3239px;
}
.awards > p{
    position: absolute;
    width: 134px;
    height: 34px;
    left: 892px;
    top: 73px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    text-align: center;

    color: #EEBB4D;
}
.awards > h1{
    position: absolute;
    width: 431px;
    height: 71px;
    left: 744px;
    top: 107px;
    /* transform: translate(-50%, -50%); */
    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;  /*바꿔야함 48*/
    line-height: 71px;

    text-align: center;

    color: #6A9258;
}
/* 명단 사람들 */
.list{
    position: absolute;
    width: 902px;
    height: 234px;
    left: 510px;
    top: 219px;
    display: flex;
    /* background-color: orange; */
}
.list > li{
    flex: 1;
    height: 234px;
    /* background-color: blue; */
    background-image: url("../image/list_bg.png");
}
.list > li:not(:last-child){
    margin-right: 100px;
}
/* list이름 */
.list .list_name{
    position: absolute;
    width: 89px;
    height: 29px;
    margin-left: 72px;
    top: 260px;
    

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 20px; /*바꿔야힘 24*/
    line-height: 29px;

    text-align: center;

    color: #6A9258;
}
/* recipes */
.recipes > p{
    position: absolute;
    width: 117px;
    height: 29px;
    left: 902px;
    top: 3969px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;

    color: #EEBB4D;
}
.recipes > h1{
    position: absolute;
    width: 302px;
    height: 58px;
    left: 800px;
    top: 4008px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 40px; /*바꿔야함 48*/
    line-height: 58px;

    color: #6A9258;
}
/* 민정이 recipe css코드 */
.ctg-btn{/* 카태고리 선택 박스 */
    position: absolute;
    left: 679px;
    top: 4136px;
}

.btn{/* 카테고리 선택 버튼 */
    display: inline-block;
    margin-right: 74px;
    cursor: pointer;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #E0E4E1;
    border: 0px;
    background-color: white;
}
.btn:hover{
    color: #EEBB4D;
}

.sort{
    margin-left: 1470px;
    margin-bottom: 30px;
    width: 50px;
    height: 23px;
}

form > select{
    border: 0px;
    outline: none;

}

form > select:hover{
    border: 0px;
}

.img{
    width: 378px;
    height: 431px;
    /* border-radius: 10px; */
    /* margin-right: 30px; */
    /* margin-bottom: 20px; */
}
.categories{
    display: inline-block;
    height: 60px;
}
.number{
    text-align: left;
}
.f-td{
    width: 30px;
}
.name-td{
    width:150px;
}
/* 민정css를 바꿈 */
.box{
    position: absolute;
    width: 1194px;
    height: 431px;
    left: 363px;
    top: 4245px;
    display: flex;
    /* background-color: blue; */
}
.box > li{
    flex: 1;
    height: 431px;
    border-radius: 10px;
    /* background-color: orange; */
    /* 그림자 효과 */
    box-shadow: 0px 4px 16px rgba(171, 171, 171, 0.3);
}
.box > li:not(:last-child){
    margin-right: 30px;
}
.box .box_name{
    position: absolute;
    width: 200px;
    height: 29px;
    margin-left: 20px;
    top: 352px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    color: #191919;
}
.box .box_theme{
    position: absolute;
    width: 120px;
    height: 24px;
    margin-left: 20px;
    top: 387px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #ABABAB;
}
.box .img{
    position: absolute;
}
.box .favorite{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 298px;
    top: 355px;
}
.box .number{  
    position: absolute;
    width: 33px;
    height: 24px;
    margin-left: 325px;
    top: 352px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #191919;
}
/* vbti */
.vbti{
    position: absolute;
    width: 1426px;
    height: 568px;
    left: 364px;
    top: 5094px;
}
.vbti > h1{
    position: absolute;
    width: 394px;
    height: 155px;
    left: 782px;
    top: 129px;

    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    font-size: 45px; /*바꿔야함 48*/
    line-height: 80px;

    color: #3A552C;
}