*{
    font-family:"Gotham";
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
@font-face {
    src: url(../../font/);
    font-family:"Gotham";
}
/* 배경 */
.intro_bg{
    background-image: url("../image/intro_bg.png");
    width: 100%;
    height: 1726px;
}
.header{
    display: flex;
    width: 1280px;
    margin: auto;
    background: red;
}
/* 제목 */
.intro_text > p {
    position: absolute;
    width: 1202px;
    height: 336px;
    left: 359px;
    top: 414px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 111.07%;
    /* or 222px */

    text-align: center;

    color: #FFFFFF;

}
/* what we doing */
.info_text > h1 {
    position: absolute;
    width: 1136px;
    height: 185px;
    left: 363px;
    top: 1429px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: 900px;
    font-size: 100px;
    line-height: 111px;

    color: #3A552C;

}
.info_text > .info_p1 {
    position: absolute;
    width: 1000px;
    height: 120px;
    left: 344px;
    top: 1686px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    /* or 150% */

    color: #6A9258;
    margin-bottom: 0px;
}
/* 중간중간 강조 */
.info_text .info_p1 > strong{
    color: #6A9258;
}
.info_text .info_p2{
    position: absolute;
    width: 710px;
    height: 100px;
    left: 344px;
    top: 1796px;

    font-family:"Gotham";
    font-style: normal;
    font-weight: bold;
    line-height: 54px;
    font-size: 24px;

    color: #191919;
    line-height: 160%;
    margin-top: 20px;
}
/* 꽃과 구름 */
.cloud_flower .cloud{
    position: absolute;
    width: 725px;
    height: 333px;
    left: 1072px;
    top: 1304px;
}
.cloud_flower .flower{
    position: absolute;
    width: 556px;
    height: 556px;
    left: 1180px;
    top: 1475px;
}
/* 요즘 핫한 채소 */
.vegetables > p{
    position: absolute;
    width: 166px;
    height: 29px;
    left: 879px;
    top: 2311px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;

    text-align: center;

    color: #EEBB4D;
}
.vegetables > h1{
    position: absolute;
    width: 350px;
    height: 58px;
    left: 796px;
    top: 2350px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;

    text-align: center;

    color: #6B8060;
}
/* 당근, 고추, 깻잎논쟁, 방울토마토 */
.icons{
    position: absolute;
    width: 1194px;
    height: 433px;
    left: 366px;
    top: 2508px;
    display: flex;
    /* background-color: orange; */
}
.icons > li{
    flex: 1;
    /* background-color: blue; */
    height: 433px;
}
.icons >li:not(:last-child){
    margin-right: 30px;
}
/* click버튼 */
.icon_click{
    position: absolute;
    width: 39px;
    height: 51.19px;
    margin-left: 212.5px;
    top: 29.81px;
}
/* 채소이름 */
.contents_name{
    position: absolute;
    width: 65px;
    height: 33px;
    margin-left: 181px;
    top: 372px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
/* view more버튼 */
.btn_viewmore{
    position: absolute;
    width: 234px;
    height: 68px;
    left: 846px;
    top: 3041px;

    background: #EEBB4D;
    box-shadow: 0px 4px 16px rgba(238, 187, 77, 0.3);
    border-radius: 100px;
    border: none;

    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;

    transition: 0.3s;
}
button:focus{
    outline: 0;
}
button:hover{
    background-color: rgba(238, 187, 77, 0.9);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(238, 187, 77, 0.6);
}
/* award */
.awards{
    position: absolute;
    background-image: url("../image/award_bg.png");
    width: 100%;
    height: 600px;
    top: 3239px;
}
.awards > p{
    position: absolute;
    width: 134px;
    height: 34px;
    left: 892px;
    top: 73px;

    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    text-align: center;

    color: #EEBB4D;
}
.awards > h1{
    position: absolute;
    width: 431px;
    height: 71px;
    left: 744px;
    top: 107px;

    font-family: Noto Sans CJK KR;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;

    text-align: center;

    color: #6A9258;
}