@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
.intro{
    position: absolute;
    width: 1920px;
    height: 596px;
    left: 0px;
    top: 0px;

    background-color: #000000;
    opacity: 0.3;

    background-image: url(../image/mypage_top_img.png);
}
.intro_info{
    background-image: url(../image/profile_bg.png);
    position: absolute;
    width: 276px;
    height: 276px;
    left: 363px;
    top: 458px;
    border-radius: 500px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.intro_info > img{
    position: absolute;
    width: 244px;
    height: 242px;
    left: 16px;
    top: 17px;
}
.profile_name{
    position: absolute;
    width: 133px;
    height: 70px;
    left: 669px;
    top: 616px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;

    color: #191919;
}
.profile_email{
    position: absolute;
    width: 308px;
    height: 35px;
    left: 669px;
    top: 684px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;

    color: #191919;
}
.profile_edit{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 1457px;
    top: 687px;

    font-size: 19px;
    outline: 0;
    border: 0;

    background-color: #ffffff;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}
.my_plant .title{
    position: absolute;
    width: 206px;
    height: 70px;
    left: 363px;
    top: 919px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;

    color: #6A9258;
}
.myplants{
    position: absolute;
    width: 1194px;
    height: 380px;
    left: 363px;
    top: 1039px;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../image/plant_1.png');
    /* border-radius: 50px; */
    -webkit-border-top-left-radius:50px;
    -webkit-border-bottom-right-radius:50px;
}
.myplants .plant_name{
    position: absolute;
    width: 133px;
    height: 52px;
    left: 40px;
    top: 258px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;

    color: #FFFFFF;
}
.myplants .plant_class{
    position: absolute;
    width: 111px;
    height: 35px;
    left: 40px;
    top: 310px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;    
    
    color: #FFFFFF;
    
}
.plant_add{
    position: absolute;
    width: 1194px;
    height: 380px;
    left: 363px;
    top: 1449px;

    border: 2px dashed #6A9258;
    box-sizing: border-box;
    border-radius: 50px 0px;
}
.plant_add .btn_plus{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 537px;
    top: 108px;

    background: #EEBB4D;
    box-shadow: 0px 4px 16px rgba(238, 187, 77, 0.3);
    border-radius: 100px;
    border: none;
}
.plant_add button:hover{
    background-color: rgba(238, 187, 77, 0.9);
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(238, 187, 77, 0.6);
}
.plant_add img{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 32px;
    top: 32px;
}
.plant_add .btn_info{
    position: absolute;
    width: 96px;
    height: 28px;
    left: 549px;
    top: 248px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;

    color: #EEBB4D;
}
.edit_modal{
    /* position: absolute;
    width: 1194px;
    height: 1302px;

    background: #FFFFFF;
    border-radius: 30px; */
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
.modal-content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #ffffff; 
    /* padding: 1rem 1.5rem;  */
    width: 1194px;
    height: 1302px;
    
    border-radius: 30px; 
}
.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
.edit_modal .title{
    position: absolute;
    width: 394px;
    height: 48px;

    top: 44px;
    left: 400px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

    text-align: center;

    color: #6A9258;

}
.edit_modal .line{
    position: absolute;
    width: 1190px;
    height: 0px;
    top: 136px;

    border: 2px solid #AAAAAA;
}
.edit_modal .little_title{
    position: absolute;
    width: 111pxx;
    height: 43px;

    left: 76px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;

    /* Main */

    color: #6A9258;
}
.close-button{
    position: absolute;
    width: 50px;
    height: 50px;

    left: 1101px;
    top: 43px;
    color: #6A9258;
}
.input_name{
    position: absolute;
    width: 1050px;
    height: 72px;

    top: 283px;
    left: 72px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 26px;
}
.input_email{
    position: absolute;
    width: 1050px;
    height: 72px;

    top: 502px;
    left: 72px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 26px;
    padding-left: 30px;

}
.input_id{
    position: absolute;
    width: 1050px;
    height: 72px;

    top: 721px;
    left: 72px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 26px;
    padding-left: 30px;

}
.input_password{
    position: absolute;
    width: 1050px;
    height: 72px;

    top: 940px;
    left: 72px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 26px;
    padding-left: 30px;

}
#submit{
    position: absolute;
    width: 1050px;
    height: 118px;

    top: 1112px;
    left: 72px;
    background: #6A9258;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;

    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;

    border: 0;

}
#submit:hover{
    background: rgba(106, 146, 88, 0.9);
}
input::placeholder{
    color: #191919;
    size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
    left: 30px;
    top: 17px;
}