@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
.intro{
    position: absolute;
    width: 1920px;
    height: 596px;
    left: 0px;
    top: 0px;

    /* background-color: red; */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/my_vt_img.png');
}
.intro_info{
    position: absolute;
    width: 1194px;
    height: 156px;
    left: 363px;
    top: 676px;    
}
.intro_info .vt_name{
    position: absolute;
    width: 177px;
    height: 70px;
    left: 0px;
    top: 0px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */


    color: #191919;
}
.intro_info .vt_value,.vt_date{
    position: absolute;
    width: 120px;
    height: 38px;
    left: 0px;
    top: 74px;
    
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */
    
    color: #191919;
}
.intro_info .vt_edit{
    position: absolute;
    width: 100px;
    height: 28px;
    left: 1090px;
    top: 118px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    /* identical to box height */
    color: #191919;

    outline: 0;
    border: 0;
    background-color: white;
}
.vt_img{
    position: absolute;
    width: 102px;
    height: 38px;
    left: 363px;
    top: 1012px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;

    color: #6A9258;
}
.vt_imgs{
    position: absolute;
    width: 1194px;
    height: 790px;
    left: 363px;
    top: 1110px;

    display: grid;
    grid-template-columns: repeat(3,378px);
    grid-template-rows: repeat(2,380px);
    column-gap: 30px;
    row-gap: 30px;
    /* background-color: red; */
}
.img > img{
    border-top-left-radius:50px; 
    border-bottom-right-radius:50px;
}
.img>img:hover{
    /* position: absolute;
    width: 378px;
    height: 380px;
    left: 771px;
    top: 1110px; */

    color: red;
}
.vt_imgs .img_empty{
    position: absolute;
    width: 378px;
    height: 380px;
    left: 816px;
    top: 410px;

    /* Main */

    border: 2px dashed #6A9258;
    box-sizing: border-box;
    border-radius: 50px 0px;
}
.img_empty > button{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 141px;
    top: 140px;

    outline: 0;
    border: 0;
    /* Point */

    border-radius: 150px;
    background: #EEBB4D;
}
.img_empty .btn_plus{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 35.42px;
    top: 35.42px;
   
}
