@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    list-style: none;
    text-decoration: none; /*밑줄 없애기*/
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
.intro{
    position: absolute;
    width: 1920px;
    height: 596px;
    left: 0px;
    top: 0px;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../image/my_vt_img.png');
}
