*{
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 20px;
}