@font-face {
    src: url(../../font);
    font-family:"Gotham";
}
*{
    font-family:"Gotham";
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 20px;
}