@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

.add_modal{
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden;  
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
.add_modal .modal-content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #ffffff; 
    /* padding: 1rem 1.5rem;  */
    width: 582px;
    height: 702px;
    
    border-radius: 30px; 
}
.add_modal .title{
    position: absolute;
    width: 394px;
    height: 48px;

    top: 16px;
    left: 94px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;

    text-align: center;

    color: #6A9258;
}
.add_modal .line{
    position: absolute;
    width: 582px;
    height: 0px;
    top: 80px;

    border: 1px solid #AAAAAA;
}
.add_modal .little_title{
    position: absolute;
    width: 157px;
    height: 29px;

    left: 44px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #6A9258;
}
.add_modal .close-button{
    position: absolute;
    width: 50px;
    height: 50px;

    left: 1101px;
    top: 43px;
    color: #6A9258;
}
.input_vt_name{
    position: absolute;
    width: 502px;
    height: 56px;

    top: 165px;
    left: 40px;
    
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 26px;
}
.input_value{
    position: absolute;
    width: 200px;
    height: 56px;

    top: 306px;
    left: 40px;
    
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    color: #8f8f8f;
    /* padding-right: 13px; */
    

}
.input_date{
    position: absolute;
    width: 262px;
    height: 56px;

    top: 306px;
    left: 280px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;

    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    color: #8f8f8f;

}
.plant_img{
    position: absolute;
    width: 501px;
    height: 160px;
    left: 40px;
    top: 400px;

    background-repeat: no-repeat;
    background-image: url(../image/myplant_img_1.png);
    border: 2px dashed #6A9258;
    box-sizing: border-box;
    border-radius: 30px 0px;
}
.plant_img .btn_img_add{
    position: absolute;
    width: 216px;
    height: 29px;

    top: 65px;
    left: 143px;

    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #606060;
}
.add-show-modal{
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}
.add_modal .add-close-button{
    position: absolute;
    width: 50px;
    height: 50px;

    left: 522px;
    top: 20px;
    color: #6A9258; 
}
input::placeholder{
    color: #8f8f8f;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Noto Sans KR', sans-serif;
    left: 30px;
    top: 13px;
}