#store {
    position: absolute;
    width: 72px;
    height: 38px;
    top: 362px;
    left: 383px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    /* Main */

    color: #6A9258;
}

.object {
    position: absolute;
    width: 276px;
    height: 335px;

    background: #F4F4F4;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.prices {
    position: absolute;
    top: 15px;
    left: 16px;
    background: #FFFFFF;
    width: 71px;
    height: 34px;
    border-radius: 34px;
}

.dollar {
    /* 이미지 깨짐 다시 다운 받기 */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 4px;
}

.price {
    position: absolute;
    top: 5px;
    left: 37px;

    /* 폰트 적용 안됨 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6A9258;
}

.rec {
    position: absolute;
    width: 276px;
    height: 115px;
    top: 220px;

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.Vname {
    position: absolute;
    top: 20px;
    left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #191919;
}

.VEname {
    position: absolute;
    top: 57px;
    left: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #191919;
}

.buy {
    position: absolute;
    top: 54px;
    right: 20px;

    height: 44px;
    width: 120px;

    background: #EEBB4D;
    box-shadow: 0px 4px 4px rgba(238, 187, 77, 0.2);
    border-radius: 100px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;

    border-style: none;
}

.buy:hover {
    cursor: pointer;
    background-color: rgba(238, 187, 77, 0.9);
    box-shadow: 0px 2px 4px rgba(238, 187, 77, 0.6);
}

.one {
    top: 460px;
    left: 363px;
}

#potatoImg {
    position: absolute;
    width: 199px;
    height: 199px;
    top: 15px;
    left: 41px;
}

.two {
    top: 460px;
    left: 669px;
}

#sweetPotatoImg {
    position: absolute;
    width: 223px;
    height: 223px;
    top: 3px;
    left: 20px;
}

.three {
    top: 460px;
    left: 975px;
}

#carrotImg {
    position: absolute;
    width: 194px;
    height: 194px;
    top: 24px;
    left: 49px;
}

.four {
    top: 460px;
    left: 1281px;
}

#radishImg {
    position: absolute;
    width: 225px;
    height: 225px;
    top: 0.45px;
    left: 30px;

    transform: rotate(9.27deg);
}

.five {
    top: 825px;
    left: 363px;
}

#lettuceImg {
    position: absolute;
    width: 208.12px;
    height: 208.12px;
    top: 6.8px;
    left: 33.87px;

    transform: rotate(6.52deg);
}

.six {
    top: 825px;
    left: 669px;
}

#spinachImg {
    position: absolute;
    width: 227px;
    height: 227px;
    top: 14px;
    left: 29px;
}

.seven {
    position: absolute;
    top: 825px;
    left: 975px;
}

#onionImg {
    position: absolute;
    width: 226px;
    height: 226px;
    top: 3px;
    left: 30px;

}

.eight {
    top: 825px;
    left: 1281px;
}

#cucumberImg {
    position: absolute;
    width: 192px;
    height: 192px;
    top: 28px;
    left: 41px;
}

.nine {
    top: 1190px;
    left: 363px;
}

#beanImg {
    position: absolute;
    width: 225px;
    height: 225px;
    top: 9px;
    left: 24px;
}

.ten {
    top: 1190px;
    left: 669px;
}

#tomatoImg {
    position: absolute;
    width: 206px;
    height: 206px;
    top: 19px;
    left: 41px;
}