@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;500&display=swap');

.edit_modal{
    /* position: absolute;
    width: 1194px;
    height: 1302px;

    background: #FFFFFF;
    border-radius: 30px; */
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    visibility: hidden; 
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}
.edit_modal .modal-content{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #ffffff; 
    /* padding: 1rem 1.5rem;  */
    width: 582px;
    height: 872px;
    
    border-radius: 30px; 
}
.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
} 
.edit_modal .title{
    position: absolute;
    width: 394px;
    height: 48px;

    top: 16px;
    left: 94px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;

    text-align: center;

    color: #6A9258;

}
.edit_modal .line{
    position: absolute;
    width: 582px;
    height: 0px;
    top: 80px;

    border: 2px solid #AAAAAA;
}
.edit_modal .little_title{
    position: absolute;
    width: 74px;
    height: 29px;

    left: 44px;
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    /* Main */

    color: #6A9258;
}
.edit_modal .close-button{
    position: absolute;
    width: 40px;
    height: 40px;

    left: 522px;
    top: 20px;
    color: #6A9258;
}
.input_name{
    position: absolute;
    width: 502px;
    height: 56px;

    top: 374px;
    left: 40px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
}
.input_email{
    position: absolute;
    width: 502px;
    height: 56px;

    top: 515px;
    left: 40px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;

}
.input_password{
    position: absolute;
    width: 502px;
    left: 40px;

    top: 656px;
    height: 56px;
    
    border: 1px solid #6A9258;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;

}
.profile_img{
    position: absolute;
    width: 120px;
    height: 120px;

    left: 231px;
    top: 120px;
    background: #91C95D;

    border-radius: 150px;
}
.profile_img > img{
    position: absolute;
    width: 106.09px;
    height: 113.99px;
    left: 6.96px;
    top: 3.01px;
}