#one {
    position: absolute;
    width: 276px;
    height: 335px;
    left: 363px;
    top: 460px;

    background: #F4F4F4;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.prices {
    position: absolute;
    top: 15px;
    left: 16px;
    background: #FFFFFF;
    width: 71px;
    height: 34px;
    border-radius: 34px;
}

.dollar {
    /* 이미지 깨짐 다시 다운 받기 */
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 4px;
}

.price {
    position: absolute;
    top: 5px;
    left: 44px;

    /* 폰트 적용 안됨 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #6A9258;
}

.Vimg {
    position: absolute;
    width: 199px;
    height: 199px;
    left: 41px;
    top: 15px;
}

.rec {
    position: absolute;
    width: 276px;
    height: 115px;
    top: 220px;

    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.Vname {
    position: absolute;
    top: 20px;
    left: 20px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #191919;
}

.VEname {
    position: absolute;
    top: 57px;
    left: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #191919;
}

.buy {
    position: absolute;
    top: 46px;
    right: 20px;

    height: 44px;
    width: 120px;

    background: #EEBB4D;
    box-shadow: 0px 4px 4px rgba(238, 187, 77, 0.2);
    border-radius: 100px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    color: #FFFFFF;

    border-style: none;
}

.buy:hover{
    cursor: pointer;
}