@font-face {
    src: url(../../font);
    font-family:"Gotham";
    
}
.popluar-box{
  /* margin-left: 363px; */
  width: 1920px;
  height:200px;
  display: inline-block;
  position:absolute;
}
.popular_title{
  left: 363px;
  
  font-family: "Pretendard";
  font-size: 26px;
  font-style: normal;
  position:absolute;
  color: #6A9258;
}

                                /*슬라이더*/

.for_slick_slider{
  display: flex;
  width:1557px;
  height : 500px;
  margin-left: 325px;
  margin-top: 60px;
  /* border: 1px solid firebrick; */
}
.for_slick_slider .popluar_items{
  /* width : 276px; */
  height: 379px;
  margin-right : 35px;
  /* border: 1px solid firebrick; */
  
}


/* 슬라이더 첫번째 칸 */
/* 텍스트 감싸는 전채 박스(div) */
.slider_text_box{
  position:relative;
  margin-left: 30px;
  width : 276px;
  height: 379px;
}
/* 첫번째 슬라이더 배경 */
.slider_bg{
  width: 376px;
  height: 379px;
  /* border: 1px solid darkcyan; */
}
/* 첫번째 텍스트 */
.slider_text1{
  margin-top: 70px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 53px;
  color: #191919;
}

/* 두번째 텍스트 */
.slider_text2{
  margin-top: 10px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 41px;

  color: #AAAAAA;
}

